<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<!--<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />-->
<script src="../static/js/jquery-1.7.1.js"></script>
<script src="../static/js/login.js"></script>
<link type="text/css" rel="stylesheet" href="../static/css/style.css" />
</head>
<body>
{% if session['name'] %}
<div>
<div style="float:left">Hi, Admin</div>
<div style="float:right"><a href="{{ url_for('logout') }}">logout</a></div>
<div style="clear:both"></div>
<div>{{message}}</div>
</div>
<div>
<input type="button" value="Hadoop" id="btnHadoop"/>
<input type="button" value="Add user" id="btnAddUser"/>
</div>
<div class="mainDiv">
</div>
<div id="userAddDiv" style="display:none">
<table>
<tr><td>User name</td><td><input type="text" /></td></tr>
<tr><td>email:</td><td><input type="text" /></td></tr>
<tr><td>Password:</td><td><input type="password" /></td></tr>
<tr><td>Confirm Password:</td><td><input type="password" /></td></tr>
<tr><td></td><td><input type="button" value="Submit"/></td></tr>
</table>
 
 
 
 

</div>
<div id="hadoopDiv" style="display:none">
	<div style="width:200px; margin-left:250px; margin-top:160px">
    <form name="lform" method="post" action="../admin/upload" enctype="multipart/form-data" >
    	<input type="file" multiple style="height:20px; width: 200px;" name="file[]" id="fileupload" />
    </form>
    </div>
    <div style="width:200px; margin-top:20px; margin-left:250px"><input type="submit" value="Upload" style="width:100%"/></div>
	<form name="rform" method="post" action="../admin/index">
    	<div style="width:200px; margin-top:15px; margin-left:250px"><input type="submit" value="Index" style="width:100%"/></div>
	</form>
</div>
{% else %}
<a href="{{ url_for('nologin') }}">You have loggout from the current session</a>
{% endif %}
</body>
</html>
